//color variables
$backgroundColor: #3E4C50
$borderColor: #cccccc7e
$jobGardenGreen: #31AF1C
$jobGardenBrightGreen: #14af67

$splashLightTriangle: #47893C
$splashDarkTriangle: #434E42

$privacyLinkColor: #494949
$splashdivColor: #e4e4e442
$signUpbutton: #2a302ba8
$settingsButtonColor: #bbbbbb
$scrollbarColor: #a7a7a731
$headerColor: #2c2c2c

$inputColor: #cccccc
