* {
  font-size: 20px;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 20px;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

.font-xxs {
  font-size: 12px;
}

.font-xs {
  font-size: 14px;
}

.font-s {
  font-size: 16px;
}

.font-m {
  font-size: 20px;
}

.font-l {
  font-size: 24px;
}

.font-xl {
  font-size: 32px;
}

.font-xxl {
  font-size: 40px;
}

.font-xxxl {
  font-size: 52px;
}

.btn {
  background-color: #31AF1C;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  width: fit-content;
  text-decoration: none;
  transition: all 50ms linear;
}

.signup-btn {
  padding: 0.5em 1em;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: rgba(42, 48, 43, 0.6588235294);
}

html, body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #3E4C50;
}

* {
  font-size: 16px;
  font-family: "Titillium Web", "Open Sans", sans-serif;
}

.jobgarden {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin: 0.5rem;
}

.garden {
  font-size: 32px;
  color: #31AF1C;
  font-weight: 400;
  margin: 0.5rem 0;
}

.tagline {
  text-align: center;
  font-size: 20px;
}

#settings {
  color: #bbbbbb;
}

.naked-link {
  color: inherit;
  text-decoration: none;
}
.naked-link:hover {
  color: inherit;
}

#main-wrapper {
  height: 550px;
  max-height: 550px;
  min-height: 550px;
  min-width: 380px;
  width: 380px;
  max-width: 380px;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3E4C50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(167, 167, 167, 0.1921568627);
  border-radius: 10px;
}

#header-title {
  font-size: 30px;
  color: red;
}

#main-wrapper {
  height: 600px;
  max-height: 600px;
  min-height: 600px;
  min-width: 380px;
  width: 380px;
  max-width: 380px;
  display: grid;
  place-items: center;
  z-index: 10000;
}

#absolute-jobgarden {
  position: absolute;
  top: 0;
  left: 13vw;
  z-index: 100;
}

#splashdiv {
  width: 60%;
  min-height: fit-content;
  border-radius: 9px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-bottom: 3px;
  background-color: rgba(228, 228, 228, 0.2588235294);
  position: relative;
  z-index: 100;
}
#splashdiv * {
  margin: 1rem 0 rem;
}
#splashdiv h2 {
  padding: 0 0.5rem;
  line-height: 110%;
}
#splashdiv h2, #splashdiv i {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
#splashdiv p {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 1.5rem 0rem;
  line-height: 123%;
}

.center {
  margin-top: 1rem;
}
.center * {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  margin-bottom: 0rem;
}

.privacy-link {
  font-family: "Open Sans", sans-serif;
  color: #494949;
  font-size: 12px;
  text-decoration: none;
}
.privacy-link:hover {
  text-decoration: underline;
}

#topRightTriangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
}

#bottomRightTriangle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
}

/*# sourceMappingURL=splash.css.map */
