@use 'abstracts' as a
@use 'modules' as m
@use '_classes.sass'

html,body
    margin: 0px
    padding: 0px
    overflow: hidden
    background-color: a.$backgroundColor

header
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: .5rem
    padding-right: .25rem
    background-color: a.$backgroundColor
    color: white
    height: a.$headerHeight
    box-sizing: border-box
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px//#78
    *
        height: fit-content
        margin: 0px 0px
#header-title
    font-size: 30px
    color: white
#main-wrapper
    height: a.$wrapperHeight
    max-height: a.$wrapperHeight
    min-height: a.$wrapperHeight
    min-width: a.$wrapperWidth
    width: a.$wrapperWidth
    max-width: a.$wrapperWidth
    overflow-x: hidden
    overflow-y: hidden
    padding: 0 a.$wrapperSidePadding

.tagline
    text-align: center
    font-size: 20px

.field-list
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto
    row-gap: 1rem
    justify-content: center
    align-items: center
    div
        max-width: 100%
        input
            display: block
            width: 90%
            height: 2rem
            border: 2px solid a.$backgroundColor
            background-color: a.$inputColor
            // border-radius: 8px
            padding: 2px 10px
            margin: 0 auto
            outline: none
            &:focus-visible
                border: 2px solid #12a15e
                outline: none
